body {
    margin: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    background-color: hsl(30, 70%, 96%)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.italic {
    font-style: italic;
}

.wrapper {
    padding: 0 80px 0 60px;
}

/* Container */

.container {
    width: 100%;
    max-width: 1000px;
    /* padding: 0 10px; */
    margin: 0 auto;
}


/* Two sides wrapper */

.sides-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* Left side */

.left-side {
    width: 40%;
    color: #fff;
}

.left-side__photo {
    margin: 0;
}

.left-side__img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Section  header*/

.section__header {
    min-width: 100%;
    background-color: #424753;
}
.section__title {
    position: relative;
    padding-left: 80px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.section__title:before {
    content: "";
    display: block;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 30px;
    height: 100%;

    background-color: #f2c100;
}

/* Section  */
.section__container {
    padding: 20px 80px;
}
.section {
    background-color: #343945;
    padding: 50px 0 20px;
}
.section-darker {
    background-color: #2c323d;
}

.section__item  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
}
.section__item:last-child {
    margin-bottom: 0;
}
.section__link {
    margin-top: 5px;
    transition: color .2s linear;
    color: lightblue;
}
.section__link:hover {
    color: #de6f2c;
}

/* Right side */

.right-side {
    width: 60%;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    margin-top: 100px;
}

.header__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.05;
    margin-bottom: 10px;
}
.header__subtitle {
    font-weight: 400;
    font-size: 20px;
}

/* Article */
.article {

}

.article__header {
    min-width: 100%;
    background-color: #ebebeb;
}
.article__title {
    padding-left: 60px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;

}

.article__title:before {
    content: "";
    display: block;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 30px;
    height: 100%;

    background-color: #f2c100;
}

.article__content {
    padding: 0 80px 0 60px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.article__text {
    margin-bottom: 5px;
}
.article__list {
    margin: 10px 0 10px;
}